<div class="upper-menu-container">
  <mat-toolbar color="primary">
    <div class="logo toolbar-tab">

    </div>
    <div class="empty-space-tab toolbar-tab">

    </div>
    <div class="search-adv-tab toolbar-tab">
      <a routerLink="/search">Search</a>
    </div>
    <div class="add-adv-tab toolbar-tab">
      <a routerLink="/add">Add</a>
    </div>
    <div class="empty-space-tab-2 toolbar-tab">

    </div>
    <div class="login-tab toolbar-tab">
      <a routerLink="/login">Login</a>
    </div>
  </mat-toolbar>
</div>
